<div class="toplist">
  <div id="stats" class="tab-pane clearfix">
      <h5 class="tab-header"> Toplista</h5>
      <ul class="news-list">
          <li>
              <img src="./assets/img/player.png" alt="" class="pull-left img-circle">
              <div class="news-item-info">
                  <div class="name"><a href="#">Finees Lund</a></div>
                  <div class="position">Product Designer</div>
                  <div class="time"></div>
              </div>
          </li>
          <li>
              <img src="./assets/img/player.png" alt="" class="pull-left img-circle">
              <div class="news-item-info">
                  <div class="name"><a href="#">Erebus Novak</a></div>
                  <div class="position">Software Engineer</div>
                  <div class="time"></div>
              </div>
          </li>
          <li>
              <img src="./assets/img/player.png" alt="" class="pull-left img-circle">
              <div class="news-item-info">
                  <div class="name"><a href="#">Leopoldo Reier</a></div>
                  <div class="position">Chief Officer</div>
                  <div class="time"></div>
              </div>
          </li>
          <li>
              <img src="./assets/img/player.png" alt="" class="pull-left img-circle">
              <div class="news-item-info">
                  <div class="name"><a href="#">Frans Garey</a></div>
                  <div class="position">Financial Assistant</div>
                  <div class="time"></div>
              </div>
          </li>
          <li>
              <img src="./assets/img/player.png" alt="" class="pull-left img-circle">
              <div class="news-item-info">
                  <div class="name"><a href="#">Jessica Johnsson</a></div>
                  <div class="position">Sales Manager</div>
                  <div class="time"></div>
              </div>
          </li>
      </ul>
  </div>
</div>
