<div class="toplist">
    <div id="stats" class="tab-pane clearfix">
        <h5 class="tab-header"> Toplista</h5>
        <ul class="news-list">
            <li *ngFor="let akt of players | sortPlayersByNum:'score'; let i = index">
                <span class="pull-right positionNumber">{{i+1}}</span>
                <img src='./assets/img/{{akt.avatar}}' alt="" class="pull-left img-circle">
                <div class="news-item-info">
                    <div class="name"><a>{{akt.username}}</a></div>
                    <div class="position">{{akt.score | number:'1.0-1'}} pont</div>
                    <div class="time"></div>
                </div>
            </li>
        </ul>
    </div>
</div>