.toplist {
    background: rgba(51, 51, 51, 0.425);
    margin-top: 0;
    padding: 9px 2px;
    border-radius: 0 0 3px 3px;
    max-height: 647px;
    overflow-y: auto;
    scroll-behavior: auto;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-button {
    background: #2c6952;
}

::-webkit-scrollbar-track-piece {
    background: #888
}

::-webkit-scrollbar-thumb {
    background: #213c51;
}

.tab-header {
    color: white;
    padding-left: 10px;
    font-size: 17px;
}

.news-list {
    padding-left: 0;
}

.news-list li,
.users-list li {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    padding: 12px;
    margin: 0 0px;
    cursor: pointer;
    height: 35px;
    -webkit-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.news-list img,
.news-list .icon,
.users-list img,
.users-list .icon {
    float: left;
    height: 30px;
    width: 30px;
}

.news-list .news-item-info,
.users-list .news-item-info {
    margin-left: 54px;
    color: black;
}

.news-list .name,
.users-list .name {
    margin: 0;
}

.news-list {
    list-style: none;
}

.news-list .name,
.news-list .time,
.news-list .position,
.users-list .name,
.users-list .time,
.users-list .position {
    line-height: 16px;
}

.news-list .name a,
.users-list .name a {
    text-decoration: none;
}

.news-list .comment,
.users-list .comment {
    font-size: 12px;
    color: #f8f8f8;
    line-height: 1.3em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.selected {
    background-color: chartreuse;
}

.position {
    color: #feaf14;
    padding: 10px 0;
    font-size: 13px;
}

.name {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.positionNumber {
    font-size: 13px;
    color: white;
    padding: 0px 10px;
    background: #213c51;
    margin-left: -25px;
    margin-right: -14px;
    margin-top: -13px;
}

.first {
    background: #65502196;
}

.second {
    background: #4e5a35a6;
}

.third {
    background: #4e5a354f;
}

.medal {
    width: 15px !important;
    height: 15px !important;
}