.flex-item{
    min-width: 350px;
    border: 1px solid rgba(1,1,1,0.2);
    padding: 20px;
    margin-right: 8px;
    margin-top: 5px;
    color: #f8f8f8;
    background: rgba(51,51,51,0.4);
}

@media only screen and (max-width: 700px){
    .flex-item{
        margin: 5px auto;
    }
}