        <div class="flex-item">
            <div class="row">
                <div class="col-xs-4 boldBig">Username: </div>
                <div class="col-xs-8 boldBig"></div>
            </div>  
            <div class="row">
                <div class="col-xs-4">ID: </div>
                <div class="col-xs-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-4">Email</div>
                <div class="col-xs-8" ></div>
            </div>
            <div class="row">
                <div class="col-xs-4">Password</div>
                <div class="col-xs-8" ></div>
            </div>
            <div class="row">
                <div class="col-xs-4">Role</div>
                <div class="col-xs-8" ></div>
            </div>
            <div class="row">
                <div class="col-xs-4">RegDate</div>
                <div class="col-xs-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-4">Aktive</div>
                <div class="col-xs-8"></div>
            </div>
            <div class="row functionbtns">
                <div class="col-xs-12">
                    <button class="btn btn-save">Save</button>
                    <button class="btn btn-remove">Remove</button>
                </div>
            </div>
        </div>