.registration-container{
    padding:20px;
}

.registration-container input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: none;
    color: #f8f8f8;
    background-color: rgba(51,51,51,0.4);
}

input.ng-invalid.ng-touched{
    border: 1px solid red; 
}

span.help-block{
    margin-left: 5px;
    color: #f2c34d;
}

.input-style{
    border: none;
    color: #f8f8f8;
    background-color: rgba(51,51,51,0.4);
}