.registration-container {
    padding: 20px;
}

.registration-container input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: none;
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.4);
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

span.help-block {
    margin-left: 5px;
    color: #f2c34d;
}

.input-style {
    border: none;
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.4);
}

select option {
    background-color: rgb(35, 37, 39);
}

.registration-container button {
    width: 100%;
}

.infoicon {
    width: 20px;
}

.infobody {
    width: 170px;
    position: absolute;
    background-color: #242927ad;
    padding: 2px 10px;
    right: 60px;
    color: white;
    overflow-y: auto;
    overflow: auto;
    height: 66px;
    border: 1px solid black;
}

#regmodal h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    color: #00ffaf;
}

#regmodal p {
    text-align: center;
    color: white;
}

#regmodal button.loginbtn {
    margin-top: 20px;
}