<h2>Szabályok és pontozás</h2>
<p class="italic">(Ez megtalálható a Tibi által kiküldött szabályzatban is)</p>
<ul>
    <li>Egy mérkőzésre csak egy kimenetel fogadható.</li>
    <li>Ha nem fogad valaki egy mérkőzésre, akkor <strong>300</strong> pontot veszít.</li>
    <li>Ha a mérkőzés kimenetelét nem sikerült eltalálni, akkor a feltett tét kerül levonásra.</li>
    <li>Ha a mérkőzés kimenetelét sikerül eltalálni, akkor a nyeremény:
        <p class="text-center"><strong>(Feltett tét x odds) – Feltett tét</strong></p>
    </li>
    <li>Amennyiben a kedvenc csapat mérkőzésének a kimenetelét sikerül eltalálni, akkor a nyeremény kétszeresét kapja meg a játékos.</li>
    <li>Kedvenc csapat mérkőzése esetén nem kötelező a kedvenc csapatra fogadni, tehát lehet döntetlenre és az ellenfélre is tippelni. Ebben az esetben is érvényesül a kétszeres szorzó.</li>
    <li>Ha a kedvenc csapat mérkőzésének kimenetelét sikerül eltalálni, akkor a nyeremény:
        <p class="text-center"><strong>((Feltett tét x odds) – Feltett tét) x 2</strong></p>
    </li>
    <li>Ha a kedvenc csapat mérkőzésének kimenetelét nem sikerül eltalálni, akkor a kétszeres szorzó nem érvényesül tehát a feltett tét nem kerül kétszer levonásra.</li>
    <li>Minden eltalált csoportgyőztesért <strong>500</strong> pont jár.</li>
    <li>A világbajnok eltalálása esetén <strong>3.000</strong> pont jár.</li>
    <li>Az összpontszám alapján az első helyezett egy minikupát nyer.</li>
    <li>Holtverseny esetén az végez előrébb</li>
    <ul>
        <li>aki eltalálta a világbajnokot,</li>
        <li>aki több tétet tett fel a mérkőzésekre.</li>
    </ul>
</ul>
<br />
<h3 class="text-center">Jó szórakozást kívánunk!</h3>