<div class="row">
    <div class="col-xs-12">
        <div *ngFor="let y = index;let match of ActiveMatchesGroupby">
            <div class="row mt-10">
                <div class="col-xs-12">
                    <div class="result-top-bar">
                        <span class="pull-left" *ngIf="y < 3">Csoportkör {{y+1}}. forduló </span>
                        <span class="pull-left" *ngIf="y == 3">Nyolcaddöntő</span>
                        <span class="pull-left" *ngIf="y == 4">Negyeddöntő</span>
                        <span class="pull-left" *ngIf="y == 5">Elődöntő</span>
                        <span class="pull-left" *ngIf="y == 6">A 3. helyért</span>
                        <span class="pull-left" *ngIf="y == 7">Döntő</span>
                        <img *ngIf="!match.type" (click)="match.type = !match.type" class="pull-right arrow" [src]="arrow_up" />
                        <img *ngIf="match.type" (click)="match.type = !match.type" class="pull-right arrow" [src]="arrow_down" />
                    </div>
                </div>
            </div>
            <div class="row nomarginLeft nomarginRight templatebg" [ngClass]="{'collapse on' : match.type}" id="todayMatches">
                <div *ngFor="let i = index;let item of match">
                    <div class="row matchTopTitle hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-12">
                            <div class="result-top-bar">
                                <span class="text-center">
                                <a [routerLink]="['/team',item.teamA._id]">{{item.teamA.name}}</a> - 
                                <a [routerLink]="['/team',item.teamB._id]">{{item.teamB.name}}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center matchRow nomarginLeft nomarginRight">
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2">
                            <img src="./assets/icons/flags/{{item.teamA.flag}}" alt="">
                            <div class="teamAgoal_mobile hidden-md hidden-lg">{{item.goalA}}</div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p class="text-center"><a [routerLink]="['/team',item.teamA._id]">{{item.teamA.name}}</a></p>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <p class="teamAgoal text-center">{{item.goalA}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="description" *ngIf="item.active==2 && item.comment">{{item.comment}}</div>
                                <div class="col-xs-12 colorwhite">
                                    <div class="row">
                                        <app-match [match]="item"></app-match>
                                    </div>
                                </div>
                                <div class="col-xs-12 margin-top10 colorwhite"><span class="location">{{item.location}}</span></div>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="text-center"><a [routerLink]="['/team',item.teamB._id]">{{item.teamB.name}}</a></p>
                                </div>
                                <div class="col-xs-12">
                                    <p class="teamBgoal text-center">{{item.goalB}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2">
                            <img src="./assets/icons/flags/{{item.teamB.flag}}" alt="">
                            <div class="teamBgoal_mobile hidden-md hidden-lg">{{item.goalB}}</div>
                        </div>
                    </div>
                    <hr class="hidden-xs" />
                </div>
            </div>
        </div>
        <div class="row nomarginLeft nomarginRight" *ngIf="PlayedMatches?.length == 0">
            <div class="col-xs-12 emptycoupon">
                <span>Még nem játszottak le egyetlen mérkőzést sem</span>
            </div>
        </div>
    </div>
</div>