.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #0e0d0d85;
    color: white;
    word-break: break-all;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #5e4e4e85;
    color: white;
    word-break: break-all;
}

.table-striped>thead>tr {
    background-color: #333333;
    color: white;
    text-transform: uppercase;
}


/* Widget box */

.box {
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(51, 51, 51, 0.425);
    color: #f8f8f8;
}

.box .icon,
.box .big-text {
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
}

.box .description {
    font-weight: normal;
    text-align: center;
    margin: 10px -5px;
}

.allLogRemoveBtn {
    width: 100%;
}