<div class="cartswitcher">
  <a class="sw-btn" [ngClass]="toggle()">
    <span class="title">Szelvények</span>
    <span class="badge badge-light">{{betservice.counter}}</span>
  </a>
  <div class="container">
    <div class="title">
      <h3>Fogadásaid</h3>
      <span class="pt"><strong>6783</strong> pontod van</span>
    </div>
    <div class="content">
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.23 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Spanyolország - Németország</span>
        <span class="betspan">2.3 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.8 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.8 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.8 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.8 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
      <div class="coupon">
        <span class="match">Mexikó - Oroszország</span>
        <span class="betspan">1.8 × <input class="betinput" type="number" /> = {{1.23*300}}</span>
      </div>
    </div>
  </div>
</div>
