.cartswitcher{
    z-index: 1050;
    position: fixed;
    top: 78px;
    right: -240px;
    width: 240px;
    -webkit-transition: right .2s ease;
    transition: right .9s ease;
    max-height: 400px;
    background-clip: padding-box;
    background-color: #2d2d30;
}

.closeCart{
    right:0;
}

.cartswitcher .content{
    overflow-y: scroll;
    height: 300px;
}

.cartswitcher .sw-btn .badge{
    background-color: #d20b0b;
}

.cartswitcher .title{
    margin-bottom: 15px;
}

.cartswitcher h3{
    margin: 0px 0 0px 0;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fbfbfb;
}

.cartswitcher span.pt{
    color: #00d10b;
    font-size:13px;
}

.cartswitcher span.pt strong{
    font-size: 18px;
}

.cartswitcher .coupon{
    border: 1px solid #ffffff30;
    max-width: 200px;
    margin-bottom: 7px;
    font-size: 12px;
    padding: 10px;
}

.cartswitcher .sw-btn {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 10px 10px;
    background-color: #3d6738;
    z-index: 1045;
    border-left: 1px solid #5d4444e0;
    border-bottom: 1px solid #5d4444e0;
    border-top: 1px solid #5d4444e0;
    border-right-width: 0;
    cursor: pointer;
    -webkit-transition: left .2s ease;
    transition: left .9s ease;
}

.openSWbtn{
    left: -123px !important;
}

.cartswitcher .sw-btn:hover {
    text-decoration: none;
}

.cartswitcher .sw-btn span.title{
    color: white;
    text-decoration: none;
}

.cartswitcher .sw-btn .fa{
    color: #f6f6f6;
    font-size: 18px;
}

.cartswitcher span.match{
    color: white;
    font-weight: bold;
    display: block;
    text-align: left;
}

.cartswitcher span.betspan{
    color: white;
    display: block;
    text-align: right;
}

.cartswitcher input.betinput{
    background-color: transparent;
    color: white;
    border: 1px solid #8c9db754;
    width: 70px;
    text-align: center;
}