h1,
h2,
h3,
p,
span {
    color: white;
}

table tbody tr td {
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #2c9c72;
}

table thead tr {
    background-color: aliceblue;
    border-bottom: 3px solid #964e4e;
}

.odds {
    font-size: 20px;
    background: red;
    padding: 7px 11px;
    border-radius: 100px;
    margin-right: 10px;
}

.favoriteTeam {
    font-size: 10px;
    color: #a91717;
    margin-left: 4px;
    font-style: italic;
}

@media only screen and (max-width: 450px) {
    table thead th {
        padding: 3px;
        font-size: 12px;
        width: 100px;
    }
    h2 {
        font-size: 26px;
    }
    .odds {
        font-size: 15px;
    }
}