<div class="row">
    <div class="col-xs-12 text-center">
        <h2>{{matchdata?.teamA}} - {{matchdata?.teamB}}</h2>
    </div>
</div>
<div class="row mt-20">
    <div class="col-xs-12 text-center">
        <span class="odds">{{matchdata?.matchid.oddsAwin}}</span>
        <span class="odds">{{matchdata?.matchid.oddsDraw}}</span>
        <span class="odds">{{matchdata?.matchid.oddsBwin}}</span>
    </div>
</div>
<div class="row mt-20">
    <div class="col-xs-12 nopaddingLeft nopaddingRight">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="sortByName()">Név</th>
                    <th (click)="sortOutcome()">Kimenetel</th>
                    <th (click)="sortByBet()">Feltett tét</th>
                    <th (click)="sortByResult()">Nyereménye (nettó)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coupon of userscoupons">
                    <td>{{coupon.username}}<br /><span class="favoriteTeam" *ngIf="coupon.favoriteTeam">(Kedvenc csapat)</span></td>
                    <td>{{coupon.outcome}}</td>
                    <td>{{coupon.bet}}</td>
                    <td>{{coupon.favoriteTeam?(((coupon.bet * coupon.odds)-coupon.bet)*2 | number:'1.0-1'):((coupon.bet * coupon.odds)-coupon.bet | number:'1.0-1')}}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>