.team_container {
    background-color: #374f6796;
}

.header {
    background: rgba(51, 51, 51, 0.4);
    border-top: 1px solid;
    border-color: #0e0e0e;
}

.header p {
    color: azure;
    margin: 0;
    padding: 10px 0;
    font-size: 17px;
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.body .row {
    padding: 10px 0;
    border-bottom: 1px solid #00000026;
    color: white;
}

.actualteam {
    background-color: #16712d;
}

.pointer {
    cursor: pointer;
}