/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'MavenPro';
    src: url('../../assets/fonts/MavenPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    background-color: #288e68;
    /* background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2); */
    background-attachment: fixed, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'MavenPro', sans-serif;
}

.italic {
    font-style: italic;
}

.colorwhite {
    color: white;
}

.float-right {
    float: right;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-top10 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.sumtable {
    border: 1px solid #00000040;
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(18, 18, 19, 0.59);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(18, 18, 19, 0.59);
}


/* Modify bootstrap */

.navbar {
    border-radius: 0;
}

.input-style {
    border: none;
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.4);
}

.select-style {
    background-color: rgb(25, 28, 36);
}

.page-title {
    color: #fff;
    font-weight: 300;
    line-height: 1;
    margin: 11px 0 18px;
}

.page-title small {
    color: rgba(255, 255, 255, 0.7);
}


/* MODAL */

.modal .modal-content {
    background-color: #242f3c;
}

.modal .modal-title {
    font-size: 20px;
}

.modal .modal-header {
    padding: 25px 25px;
}

.modal input {
    background-color: #17d01266;
}

.nomarginLeft {
    margin-left: 0;
}

.nomarginRight {
    margin-right: 0;
}

.nopaddingLeft {
    padding-left: 0;
}

.nopaddingRight {
    padding-right: 0;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

a:hover {
    text-decoration: none;
}


/* Mobile */

@media screen and (max-width: 765px) and (min-width: 451px) {
    .mb-sm {
        margin-bottom: 5px;
    }
    .mobile-mt15 {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-image: none;
    }
    .mobile-mt15 {
        margin-top: 15px;
    }
    .mb-xs {
        margin-bottom: 5px;
    }
}