<div class="row">
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">{{user?.username}}</h3>
            <h3 class="scoredisplay float-right">{{user?.score}} p</h3>
            <h5 class="widget-user-desc">{{user?.email}}</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="./assets/img/{{user?.avatar}}" alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{coupon?.length}}</h5>
                        <span class="description-text">eddigi fogadásaim</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{actcoupons?.length}}</h5>
                        <span class="description-text">játékban lévő fogadás</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{stat_winCoupon}}</h5>
                        <span class="description-text">fogadást nyertem</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3">
                    <div class="description-block">
                        <h5 class="description-header">{{stat_loseCoupon}}</h5>
                        <span class="description-text">fogadást veszítettem</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<div class="row dataform">
    <form #profilform="ngForm" (ngSubmit)="profilSave(profilform.value)">
        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-3 mb-xs mb-sm">
                <label for="fullname">Teljes nevem</label>
                <input type="text" class="form-control input-style" [(ngModel)]="fullname" name="fullname" placeholder="Teljes név">
            </div>
            <div class="form-group col-xs-12 col-sm-3 mb-xs mb-sm">
                <label for="teamid">Kedvenc csapatom ({{appsettings.favoritTeamFactor}}×)</label>
                <select class="form-control input-style select-style" [(ngModel)]="teamid" name="teamid" [disabled]="disabledTeamsSave" required>
                    <option *ngFor="let team of teams" [ngValue]="team._id">{{team.name}}</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">Az VB első mérkőzésének kezdési időpontjáig módosítható.</small>
            </div>
            <div class="form-group col-xs-12 col-sm-3 mb-xs mb-sm">
                <label for="teamid">VB győztes (+{{appsettings.wcwinnerplus}} pont)</label>
                <select class="form-control input-style select-style" [(ngModel)]="winteamid" name="winteamid" [disabled]="disabledTeamsSave" required>
                    <option *ngFor="let team of teams" [ngValue]="team._id">{{team.name}}</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">Az VB első mérkőzésének kezdési időpontjáig módosítható.</small>
            </div>
            <div class="form-group col-xs-12 col-sm-3 mb-xs mb-sm">
                <label for="username">Felhasználónevem</label>
                <input type="text" class="form-control input-style" [(ngModel)]="username" name="username" placeholder="Felhasználónév">
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group col-xs-12 col-sm-2 text-center profileButton">
                    <button class="btn btn-primary" type="submit">Mentés</button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="row issueform">
    <form #helpform="ngForm" (ngSubmit)="helpSave(helpform.value)">
        <div class="form-row">
            <div class="form-group col-xs-12 mb-xs mb-sm">
                <label for="issuemsg">Észrevételeidet, kéréseidet, weboldallal kapcsolatos hibákat itt jelezheted nekem:</label>
                <textarea class="form-control issuetextarea" [(ngModel)]="issuemsg" name="issuemsg" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group col-xs-12 col-sm-2 text-center profileButton">
                    <button class="btn btn-primary" type="submit">Küldés</button>
                </div>
            </div>
        </div>
    </form>
</div>