<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <span class="version hidden">ver. 1.1</span>
            <a class="navbar-brand" href="#">VB2018</a>
            <p *ngIf="authservice.isAuthenticated()" class="navbar-text score">{{userscore | number:'1.0-1'}} p</p>
        </div>
        <div class="collapse navbar-collapse text-center" id="myNavbar">
            <ul class="nav navbar-nav">
                <!--<li routerLinkActive="active"><a routerLink="/home">Mérkőzések</a></li>
                <li routerLinkActive="active"><a routerLink="/playedmatch">Lejátszott</a></li>
                <li routerLinkActive="active"><a routerLink="/rules">Szabályok</a></li>
                <li routerLinkActive="active" *ngIf="downloadmenu && authservice.isAuthenticated()"><a routerLink="/download">Táblázat</a></li>
                 <li routerLinkActive="active" *ngIf="authservice.isAuthenticated()"><a routerLink="/toplist">Toplista</a></li> 
                <li routerLinkActive="active" *ngIf="authservice.isAuthenticated()"><a routerLink="/profile">Profilom</a></li>
                <li routerLinkActive="active" *ngIf="authservice.isAuthenticated()"><a routerLink="/mycoupons">Fogadásaim</a></li>-->
                <li class="dropdown redBg" *ngIf="authservice.isAdminOrEditor()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li routerLinkActive="active" *ngIf="authservice.isAdmin()"><a routerLink="/users">Users</a></li>
                        <li routerLinkActive="active"><a routerLink="/teamsgroups">Teams and groups</a></li>
                        <li role="separator" class="divider"></li>
                        <li routerLinkActive="active"><a routerLink="/matches">Matches</a></li>
                        <li routerLinkActive="active"><a routerLink="/extarnalAPI">ExtarnalAPI</a></li>
                        <li role="separator" class="divider"></li>
                        <li routerLinkActive="active"><a routerLink="/admincoupons">Coupons</a></li>
                        <li routerLinkActive="active" *ngIf="authservice.isAdmin()"><a routerLink="/userteams">User infos</a></li>
                        <li routerLinkActive="active"><a routerLink="/fileupload">File upload</a></li>
                        <li role="separator" class="divider"></li>
                        <li routerLinkActive="active" *ngIf="authservice.isAdmin()"><a routerLink="/logs">Logs</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!authservice.isAuthenticated() && registrationmenu"><a routerLink="/registration"><span class="glyphicon glyphicon-user"></span>Regisztráció</a></li>
                <li *ngIf="!authservice.isAuthenticated()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Bejelentkezés</a></li>
                <li *ngIf="authservice.isAuthenticated()" (click)="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Kijelentkezés</a></li>
            </ul>
            <p *ngIf="authservice.isAuthenticated()" class="navbar-text navbar-right">{{Username}}</p>
        </div>
    </div>
</nav>