.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.functionbtns{
    text-align: center;
    margin-top: 15px;
}

.boldBig{
    font-weight: bold;
    font-size: 16px;
}

.result-top-bar {
    padding: 10px 20px;
    overflow: hidden;
    background: rgba(51,51,51,0.4);
    border-top: 1px solid;
    border-color: #0e0e0e;
    color: azure;
}

.matches-dates-shedule>ul {
    border-top: 1px solid;
    margin: 0 0 60px;
}

ul {
    padding: 0;
    list-style: none;
}

.matches-dates-shedule>ul>li:nth-child(odd) {
    background: rgba(51,51,51,0.4);
}

.matches-dates-shedule>ul>li {
    text-align: center;
    padding: 30px;
    border-top: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.matches-dates-shedule>ul>li .detail {
    display: inline-block;
}

.matches-dates-shedule>ul>li .detail span {
    display: block;
    margin: 0 0 10px;
}

.result-vs {
    font-size: 30px;
}

.location-marker {
    font-size: 12px;
}

.matches-dates-shedule.style-2 ul {
    border-top: 0;
}

.location-marker ul {
    display: inline-block;
}

.matches-dates-shedule.style-2 .location-marker ul li {
    color: #555;
}

.location-marker ul li:first-child {
    margin: 0;
}

.location-marker ul li {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
}

li.match{
    display: table-cell;
    width: 100%;
    float: left;
}

.templatebg{
    background-color: #374f6796;
}
