.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.functionbtns {
    text-align: center;
    margin-top: 15px;
}

.boldBig {
    font-weight: bold;
    font-size: 16px;
}

.result-top-bar {
    padding: 10px 20px;
    overflow: hidden;
    background: rgba(51, 51, 51, 0.4);
    border-top: 1px solid;
    border-color: #0e0e0e;
    color: azure;
}

.matches-dates-shedule>ul {
    border-top: 1px solid;
    margin: 0 0 60px;
}

ul {
    padding: 0;
    list-style: none;
}

.matches-dates-shedule>ul>li:nth-child(odd) {
    background: rgba(51, 51, 51, 0.4);
}

.matches-dates-shedule>ul>li {
    text-align: center;
    padding: 30px;
    border-top: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.matches-dates-shedule>ul>li .detail {
    display: inline-block;
}

.matches-dates-shedule>ul>li .detail span {
    display: block;
    margin: 0 0 10px;
}

.result-vs {
    font-size: 30px;
}

.location-marker {
    font-size: 12px;
}

.matches-dates-shedule.style-2 ul {
    border-top: 0;
}

.location-marker ul {
    display: inline-block;
}

.matches-dates-shedule.style-2 .location-marker ul li {
    color: #555;
}

.location-marker ul li:first-child {
    margin: 0;
}

.location-marker ul li {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
}

li.match {
    display: table-cell;
    width: 100%;
    float: left;
}

.templatebg {
    background-color: #374f6796;
}


/*MATCH*/

div.colorwhite {
    color: white;
}

.displaytable {
    display: table;
    height: 100px;
}

.matchRow {
    min-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.displaytablecell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.nationalname {
    font-size: 17px;
}

.locationtime {
    font-size: 12px;
}

.noMargin {
    margin-left: 0;
    margin-right: 0;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.goals {
    font-size: 28px;
}

img {
    max-width: 50px;
    vertical-align: middle;
    border: 0;
}

.oddsContainer {
    border: 1px solid #4fda7117;
    cursor: pointer;
}

span.oddspos {
    width: 100%;
    background: #ff0a0aa8;
    position: relative;
    float: left;
}

.activeOdds {
    background-color: #01133391;
    font-weight: bold;
}

.modal-header,
.modal-body {
    padding: 18px 50px;
}

.text_match {
    font-size: 12px;
    color: white;
}

.text_team {
    font-size: 22px;
    color: white;
}

.text_bet {
    font-size: 20px;
    color: white;
}

.modal-header {
    padding: 10px 35px;
}

.modal-header,
h4,
.close {
    text-align: left;
}

.modal-header h4 {
    letter-spacing: 2px;
}

.betInput {
    margin: 0 auto;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.formula {
    text-align: center;
    font-size: 15px;
    color: white;
}

.error_msg {
    font-size: 15px;
    color: red;
    text-align: center;
}

.teamAgoal {
    position: absolute;
    top: 75px;
    right: 65px;
    font-size: 20px;
}

.teamBgoal {
    position: absolute;
    top: 76px;
    right: 65px;
    font-size: 20px;
}

.matchTopTitle div.result-top-bar {
    text-align: center;
    font-size: 18px;
}

.arrow {
    max-width: 25px;
}

a {
    color: white;
}

a:hover {
    color: #b2c711;
}

.favoriteTeam {
    font-weight: bold;
    color: chartreuse;
}

.winScore {
    color: red;
}

.emptycoupon {
    color: white;
    border: 1px solid #00000052;
    padding: 10px;
    background-color: #40556f75;
}

@media only screen and (max-width: 1200px) {
    .nationalname {
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {
    img {
        max-width: 40px;
    }
    li.match {
        padding-left: 10px;
        padding-right: 10px;
    }
}