<div class="row hidden">
    <div class="col-xs-6">
        <button class="btn btn-sm" (click)="sortBy()">Dátum szerint</button>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <!-- TODAY MATCHES -->
        <div class="matchPart">
            <div class="row">
                <div class="col-xs-12">
                    <div class="result-top-bar">
                        <span class="pull-left">Mai mérkőzések</span>
                        <img *ngIf="!accordion1" (click)="accordion1 = !accordion1" class="pull-right arrow" [src]="arrow_up" />
                        <img *ngIf="accordion1" (click)="accordion1 = !accordion1" class="pull-right arrow" [src]="arrow_down" />
                    </div>
                </div>
            </div>
            <div class="row nomarginLeft nomarginRight templatebg" [ngClass]="{'collapse on' : accordion1}" id="todayMatches">
                <div *ngFor="let last = last;let item of TodayMatches">
                    <div class="row matchTopTitle hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-12">
                            <div class="result-top-bar">
                                <span class="text-center">
                                    <a [routerLink]="['/team',item.teamA._id]" [ngClass]="{'favoriteTeam':item.teamA._id == currentUser?.teamid}">{{item.teamA.name}}</a> - 
                                    <a [routerLink]="['/team',item.teamB._id]" [ngClass]="{'favoriteTeam':item.teamB._id == currentUser?.teamid}">{{item.teamB.name}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center matchRow">
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2">
                            <img src="./assets/icons/flags/{{item.teamA.flag}}" alt="">
                            <span class="hidden-lg hidden-md teamAgoal_mobile">{{item.goalA}}</span>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                            <div class="displaytablecell nationalname">
                                <a [routerLink]="['/team',item.teamA._id]" [ngClass]="{'favoriteTeam':item.teamA._id == currentUser?.teamid}">{{item.teamA.name}}</a>
                            </div>
                            <span class="teamAgoal">{{item.goalA}}</span>
                            <span *ngIf="item.teamA._id == currentUser?.teamid && favoriteImg">
                                        <img [src]="favoritepath" />
                                    </span>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="row">
                                <span class="runmatch" *ngIf="item.active==1">Tart a mérkőzés</span>
                                <div class="description" *ngIf="item.active==2 && item.comment">{{item.comment}}</div>
                                <div class="col-xs-12 margin-bottom10 colorwhite" *ngIf="item.active==0"><span class="datetime">{{item.date | timestampToDate:'HH:mm'}}</span></div>
                                <div class="col-xs-12 margin-bottom10 nopaddingRight nopaddingLeft" *ngIf="item.active==1">
                                    <span class="userinfo" [routerLink]="['/userbets',item._id]">Többi játékos fogadásai</span>
                                </div>
                                <div class="col-xs-12 colorwhite">
                                    <div class="row">
                                        <app-match [match]="item" (resultClick)="openModal(true,$event,item)"></app-match>
                                    </div>
                                </div>
                                <div class="col-xs-12 margin-top10 colorwhite"><span class="location">{{item.location}}</span></div>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                            <div class="displaytablecell nationalname">
                                <a [routerLink]="['/team',item.teamB._id]" [ngClass]="{'favoriteTeam':item.teamB._id == currentUser?.teamid}">{{item.teamB.name}}</a>
                            </div>
                            <span class="teamBgoal">{{item.goalB}}</span>
                            <span *ngIf="item.teamB._id == currentUser?.teamid && favoriteImg">
                                        <img [src]="favoritepath" />
                                    </span>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2">
                            <img src="./assets/icons/flags/{{item.teamB.flag}}" alt="">
                            <span class="hidden-lg hidden-md teamBgoal_mobile">{{item.goalB}}</span>
                        </div>
                    </div>
                    <hr class="hidden-xs" [ngClass]="{'hidden':last}" />
                </div>
            </div>
            <div class="row nomarginLeft nomarginRight" *ngIf="TodayMatches?.length == 0">
                <div class="col-xs-12 emptycoupon">
                    <span>A mai nap nincsenek mérkőzések</span>
                </div>
            </div>
        </div>
        <!-- END TODAY MATCHES -->
        <div *ngFor="let y = index;let match of ActiveMatchesGroupby">
            <div class="matchPart mt-10" *ngIf="y > 4">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="result-top-bar">
                            <span class="pull-left" *ngIf="y < 3">Csoportkör {{y+1}}. forduló </span>
                            <span class="pull-left" *ngIf="y == 3">Nyolcaddöntő</span>
                            <span class="pull-left" *ngIf="y == 4">Negyeddöntő</span>
                            <span class="pull-left" *ngIf="y == 5">Elődöntő</span>
                            <span class="pull-left" *ngIf="y == 6">A 3. helyért</span>
                            <span class="pull-left" *ngIf="y == 7">Döntő</span>
                            <img *ngIf="!match.accordiontype" (click)="match.accordiontype = !match.accordiontype" class="pull-right arrow" [src]="arrow_up" />
                            <img *ngIf="match.accordiontype" (click)="match.accordiontype = !match.accordiontype" class="pull-right arrow" [src]="arrow_down" />
                        </div>
                    </div>
                </div>
                <div class="row nomarginLeft nomarginRight templatebg" [ngClass]="{'collapse on' : match.accordiontype}" id="todayMatches">
                    <div *ngFor="let i = index;let last = last;let item of match">
                        <div class="row matchTopTitle hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-12">
                                <div class="result-top-bar">
                                    <span class="text-center">
                                        <a [routerLink]="['/team',item.teamA._id]" [ngClass]="{'favoriteTeam':item.teamA._id == currentUser?.teamid}">{{item.teamA.name}}</a> - 
                                        <a [routerLink]="['/team',item.teamA._id]" [ngClass]="{'favoriteTeam':item.teamB._id == currentUser?.teamid}">{{item.teamB.name}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center matchRow">
                            <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2"><img src="./assets/icons/flags/{{item.teamA.flag}}" alt=""></div>
                            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                                <div class="displaytablecell nationalname">
                                    <a [routerLink]="['/team',item.teamA._id]" [ngClass]="{'favoriteTeam':item.teamA._id == currentUser?.teamid}">{{item.teamA.name}}</a>
                                </div>
                                <span class="teamAgoal">{{item.goalA}}</span>
                                <span *ngIf="item.teamA._id == currentUser?.teamid && favoriteImg">
                                    <img [src]="favoritepath" />
                                </span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                <div class="row">
                                    <span class="runmatch" *ngIf="item.active==1">Tart a mérkőzés</span>
                                    <div class="description" *ngIf="item.active==2 && item.comment">{{item.comment}}</div>
                                    <div class="col-xs-12 margin-bottom10 colorwhite"><span class="datetime">{{item.date | timestampToDate:'MMMM Do dddd, HH:mm'}}</span></div>
                                    <div class="col-xs-12 colorwhite">
                                        <div class="row">
                                            <app-match [match]="item" (resultClick)="openModal(false,$event,item)"></app-match>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 margin-top10 colorwhite"><span class="location">{{item.location}}</span></div>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                                <div class="displaytablecell nationalname">
                                    <a [routerLink]="['/team',item.teamB._id]" [ngClass]="{'favoriteTeam':item.teamB._id == currentUser?.teamid}">{{item.teamB.name}}</a>
                                </div>
                                <span class="teamBgoal">{{item.goalB}}</span>
                                <span *ngIf="item.teamB._id == currentUser?.teamid && favoriteImg">
                                    <img [src]="favoritepath" />
                                </span>
                            </div>
                            <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2"><img src="./assets/icons/flags/{{item.teamB.flag}}" alt=""></div>
                        </div>
                        <hr class="hidden-xs" [ngClass]="{'hidden':last}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mobile-mt15">
        <div class="toplist mb-10" *ngIf="authservice.isAuthenticated()">
            <div id="stats" class="tab-pane clearfix text-center">
                <h5 class="tab-header colorwhite"> Összesítő táblázat</h5>
                <div class="col-xs-12 colorwhite mb-10 text-center">
                    <a href="http://mokasfoci.hu/excelfile">
                        <img [src]="excelimage" class="excelimage" />
                    </a>
                    <p class="italic">frissítve: {{update}}</p>
                </div>
            </div>
        </div>
        <app-toplist></app-toplist>
    </div>
</div>

<!-- Modal Group-->
<div class="modal fade" id="betModal" role="dialog" #betmodal>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Új szelvény létrehozása</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center text_team">{{currentTeam}}</div>
                    <div class="col-xs-12 text-center text_match">({{currentMatch?.teamA.name}} - {{currentMatch?.teamB.name}})</div>
                    <div class="col-xs-12 text-center text_bet">odds: {{currentOdds | number:'1.2'}}</div>
                </div>
                <div>
                    <div class="form-group row">
                        <!-- <div class="col-xs-12">
                            <input type="number" class="form-control input-style betInput" id="bet" placeholder="Tét" [(ngModel)]="betvalue" name="betvalue" required>
                        </div> -->
                        <div class="col-xs-12">
                            <select class="form-control input-style select-style betInput" [(ngModel)]="betvalue" required>
                                <option *ngFor="let odds of oddsList" [ngValue]="odds">{{odds}}</option>
                              </select>
                        </div>
                    </div>
                    <p *ngIf="betvalue && currentUser?.teamid == currentTeamID" class="formula">
                        <span>Nyeremény:</span> {{betvalue}}×{{currentOdds}} = {{betvalue*currentOdds | number:'1.0-1'}}
                        <span class="winScore">×{{favoritTeamFactor}} = {{betvalue*currentOdds*favoritTeamFactor | number:'1.0-1'}}</span>
                    </p>
                    <p *ngIf="betvalue && currentUser?.teamid != currentTeamID" class="formula">
                        <span>Nyeremény:</span> {{betvalue}}×{{currentOdds}} = {{betvalue*currentOdds | number:'1.0-1'}}
                    </p>
                    <p *ngIf="currentUser" class="formula">Jelenleg {{currentUser?.score | number:'1.0-1'}} pontod van</p>
                    <p class="error_msg" *ngIf="error_status">{{error_msg}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hidden" (click)="ModalClose()">Mégsem</button>
                <button type="button" class="btn btn-success float-right" [style.display]="clickPrevent?'none':'block'" (click)="CreateCoupon(currentMatch?.teamA.name,currentMatch?.teamB.name,currentMatch?._id)">Fogad</button>
            </div>
        </div>
    </div>
</div>