<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="result-top-bar">
                    <span class="pull-left">Legközelebbi mérkőzések</span>
                    <span class="pull-right">Ma 2018-07-10</span>
                </div>
            </div>
          </div>
          <div class="row nomarginLeft nomarginRight templatebg">
              <div *ngFor="let i = index;let item of ActiveMatches">
                    <div class="row text-center matchRow">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"><img src="./assets/icons/flags/{{item.teamA.flag}}" alt=""></div>
                            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                              <div class="displaytablecell nationalname">{{item.teamA.name}}</div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <div class="row">
                                <div class="col-xs-12 colorwhite">
                                  <div class="row">
                                    <app-match [match]="item" (click)="openBetModal(item,$event)"></app-match>
                                </div>
                            </div>
                            <div class="col-xs-12 colorwhite"><span class="datetime">{{item.date | timestampToDate}}</span></div>
                            <div class="col-xs-12 colorwhite"><span class="location">{{item.location}}</span></div>
                        </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 colorwhite displaytable">
                        <div class="displaytablecell nationalname">{{item.teamB.name}}</div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"><img src="./assets/icons/flags/{{item.teamB.flag}}" alt=""></div>
                    </div>
                    <hr />
              </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <app-toplist></app-toplist>
    </div>
</div>
<app-betcart></app-betcart>

<!-- Modal Group-->
<div class="modal fade" id="betModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Szelvény</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 text-center text_match">{{currentMatch?.teamA.name}} - {{currentMatch?.teamB.name}}</div>
                <div class="col-xs-12 text-center text_bet">{{currentOdds}}</div>
            </div>
            <form>
                <div class="form-group row">
                   <div class="col-xs-4 col-xs-offset-4">
                    <input type="number" class="form-control input-style betInput" 
                       id="bet" 
                       placeholder="Tét" 
                       [(ngModel)]="betvalue"
                       name="betvalue"
                       required>
                   </div>
                </div>
                <p class="formula">{{betvalue}}*{{currentOdds}} = {{betvalue*currentOdds}}</p>    
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="ModalClose()">Mégsem</button>
          <button type="button" class="btn btn-success float-right" (click)="BettingStart(currentMatch?.teamA._id,currentMatch?.teamB._id,currentMatch?._id)">Fogad</button>
        </div>
      </div>
    </div>
  </div>

